h3
{
    height: 50px;
    width: 100%;
    background:url("../images/h3.png") no-repeat 0 100%;
    margin: 0;
    padding: 0;
}
ul
{
    margin:0;
    padding: 10px 10px 25px 45px;
    background:url("../images/ul.png") no-repeat 0 100%;
    list-style-image:url("../images/li.png");
}
/*unvisted link*/
a:link
{
    color:red;
}
/*visited link*/
a:visited
{
    color:green;
}
/*mouse over link*/
a:hover
{
    color:hotpink;
    padding-left:10px;
}
/*selected link*/
a:active
{
    color:blue;
}