table {
    font-family:'Lucida Sans';
    width:100%;
    border-collapse:collapse;
    font-size:15px;
    border:1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}
th,td {
    padding: 8px 12px;         
    border: 1px solid #98bf21;
    vertical-align: middle;
    box-sizing: border-box;
}
thead
{
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#A7C942;
    color:#ffffff;
}
tbody tr:nth-child(2n+1)
{
    color:black;
    background-color:#e6efca;
}
tbody tr:nth-child(2n)
{
    color:black;
    background-color:#c7df81;
}